@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap");

body {
  background: black;
  color: white;
  font-family: "Nunito", sans-serif;
}

text {
  fill: white;
}
